/autom4te.cache
/config.h
/config.log
/config.status
.deps
/doc/Doxyfile
/doc/html
/doc/latex
/examples/filesystem_treewalk/c/treewalk
*.la
*.lai
.libs
/libtool
*.lo
Makefile
*.o
*.so
/src/balancemqd/balancemqd
stamp-h1
